.App-body {
  background-color: #8f9aaf;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #8f9aaf;
}

.block {
  display: block;
  width: 100%;
  text-align: center;
}

.date-background {
  background-color: #fd8b61c2;
  border-radius: 25px;
  width: auto;
}

.table-icon {
  width: 50%;
}
.navbar-icon {
  width: 10%;
}

table {
  table-layout: fixed;
  width: auto;
}
.component-background {
  background-color: #8f9aaf;
}

.color-nav {
  /* background-color: #94b9d1; */
  background-color: #e0e3e9;
}
.tableDiv {
  padding: 10px;
  margin: auto;
  width: 60%;
}

a {
  color: #5c4d64;
  padding: 1em 1.5em;
  text-decoration: none;
}

a:hover {
  color: rgb(252, 252, 252);
}

a:active {
  color: #5c4d64;
}

a:visited {
  color: #6f5d79;
}

.formDiv {
  padding-top: 5%;
  margin: auto;
  width: 50%;
}
