.App-body {
  background-color: #8F9AAF;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #8F9AAF;
}


.block {
  display: block;
  width: 100%;
  text-align: center;
}

.date-background{
  background-color: #fd8b61c2;
  border-radius: 25px;
  width: auto;
}

.table-icon{
  width: 50%
}

.component-background {
  background-color: #8F9AAF;
}

.color-nav{
  /* background-color: #94b9d1; */
  background-color: #94b9d1;
}
.tableDiv {
  padding: 10px;
  margin: auto;
  width: 60%;

}

a {
  color: #afa3b6;
  padding: 1em 1.5em;
  text-decoration: none;
}

a:hover {
  color: rgb(252, 252, 252);
}

a:active {
  color: rgb(175, 167, 167);
}

a:visited {
  color: #ccc;
}

.formDiv {
  padding-top: 5%;
  margin: auto;
  width: 50%;
}
